* {
    margin:0 auto;
    padding:0px;
}

.top {
    margin:1px;
    display: block;
    text-align:center;

}

#logo, #deposit, #userIcon {
    background-color: transparent;
    vertical-align: middle;
}

#deposit {
    float:right;
    margin-right: 1%;
    margin-left: 1%;
}

#userIcon {
    margin-top: 2%;
    height: 2%;
    width: 4%;
    float:right;
}

#logo {
    float:left;
    width: 10%;
}
